<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
	  <!--<add name="CallEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-Q4D7R1U\DIPAKPC;initial catalog=ERP_08_07_2020_MFTest;user id=sa;password=test@123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CallEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=213.202.212.198,5553;connect timeout=500;initial catalog=atyaab;user id=ERPAtyab;password=wXU8qV^9YCeWD!dVKHb==v*%Atyab;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--<add name="CallEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-S115TK9;initial catalog=Atyaab;integrated security=true;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
