<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net45" />
  <package id="EWSoftware.VSSpellChecker" version="2015.9.19.0" targetFramework="net40" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="11.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net45" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net45" />
</packages>